/* Custom CSS based on your provided styles */

body {
    font-family: "Montserrat";
    background-color: white;
    /* Windows 95 desktop background color */
    color: rgb(0, 0, 0);
    
    padding: 20px;
    font-size: 16px;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    /* Windows 95 card background color */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 5px 10px;
    margin-top: 20px;
   
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fa5aba;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #fa5aba;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group label {
    color: #000;
    /* Label text color */
    display: block;
    margin-top: 10px;
}

.form-control {
    background-color: #fff;
    color: #000000; /* Change the text color to white */
    border: 1px solid #000000; /* Add a white solid border */
    /* Input field background color */
}

/* Custom styling for User's Chart */
.user-chart {
    background-color: #ffffff;
    /* Chart background color */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    /* Add the styles from .gfg1 here */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.user-chart h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-chart p {
    font-size: 16px;
}

/* Custom styling for commands list */
.commands-list {
    background-color: #ffffff;
    /* Commands list background color */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.commands-list ul {
    list-style: none;
    padding: 0;
}

.commands-list ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

